* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(239, 248, 255);
  background-color: #121212;
  font-size: clamp(14px, 1vw, 18px);
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main .section-01 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section-01 .top {
  width: 100%;
}
main .section-01 .top img {
  width: 100%;
  border-radius: 10px;
}
main .section-01 .bottom {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .section-01 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .section-01 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main .section-01 .bottom .text p {
  opacity: 0.7;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
}
main .section-01 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-weight: 800;
  background-color: white;
}
main .section-02 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  padding: 1rem;
}
main .section-02 .top,
main .section-02 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main .section-02 .top .element,
main .section-02 .bottom .element {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main .section-02 .top .element h2,
main .section-02 .bottom .element h2 {
  font-size: 3rem;
  font-weight: 400;
}
main .section-02 .top .element small,
main .section-02 .bottom .element small {
  opacity: 0.6;
}
main .section-03 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section-03 .top {
  width: 100%;
}
main .section-03 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main .section-03 .bottom {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .section-03 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .section-03 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main .section-03 .bottom .text p {
  opacity: 0.7;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
}
main .section-05 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}
main .section-05 .card {
  background-image: url(./images/63d2ccbd2e12fa747e999689_team-02.webp);
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main .section-05 .card .icon,
main .section-05 .card .bottom {
  background-color: rgba(187, 187, 187, 0.374);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  border: 1px solid rgb(192, 189, 189);
  border-radius: 0.7rem;
  padding: 0.5rem;
}
main .section-05 .card .top {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
main .section-05 .card .top .icon {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 1rem;
}
main .section-05 .card .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
main .section-05 .card .bottom p {
  font-size: 1.2rem;
  font-weight: 600;
}
main #sec-06 .bottom {
  gap: 5rem;
}
main #sec-06 .bottom div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
main #sec-06 .bottom div h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5rem;
}
main #sec-06 .bottom button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-weight: 800;
  background-color: white;
}

@media (min-width: 900px) {
  main .section-01 {
    flex-direction: row;
    padding: 1rem 1rem;
  }
  main .section-01 .top,
  main .section-01 .bottom {
    width: 50%;
  }
  main .section-01 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main .section-01 .bottom .text {
    gap: 1.5rem;
  }
  main .section-01 .bottom .text h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  main .section-01 .bottom .text p {
    width: 80%;
  }
  main .section-02 {
    flex-direction: row;
  }
  main .section-03 {
    flex-direction: row-reverse;
    padding: 1rem;
  }
  main .section-03 .top,
  main .section-03 .bottom {
    width: 50%;
  }
  main .section-03 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main .section-03 .bottom .text {
    gap: 1.5rem;
  }
  main .section-03 .bottom .text h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  main .section-03 .bottom .text .paragraphs {
    display: flex;
    gap: 1.5rem;
  }
  main #sec-04 {
    flex-direction: row;
  }
  main .section-05 {
    flex-direction: row;
  }
  main #sec-06 .bottom div h1 {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */